.card {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: #ebe6e6;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
  }
  
  .card::before {
    content: "";
    width: 600px;
    height: 100px;
    position: absolute;
    top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px solid #F8DE22;
    background: linear-gradient(40deg, rgb(34, 54, 164) 0%, rgb(29, 39, 60) 60%, rgb(122, 121, 138) 100%);
    transition: all 0.5s ease;
  }
  
  .card * {
    z-index: 1;
  }
  
  .image {
    width: 110px;
    height: 110px;
    
    background-color: #f3f2ee;
    border-radius: 50%;
    border: 4px solid #F8DE22;
    margin-top: 30px;
    transition: all 0.5s ease;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: all 0.5s ease;
  }
  
  .card-info span {
    font-weight: 600;
    font-size: 24px;
    color: #040202;
    margin-top: 15px;
    line-height: 5px;
  }
  
  .card-info p {
    color: rgba(16, 12, 12, 0.5);
  }
  

  .card:hover::before {
    width: 350px;
    height: 300px;

    border-bottom: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: scale(1);
  }
  
  .card:hover .card-info {
    transform: translate(0%,-7%);
  }

  .card:hover .card-info span{
    color: #f3eded;
  }
  
  .card:hover .card-info p{
    color: rgba(245, 249, 249, 0.776);
  }
  .card:hover .image {
    transform: scale(1) translate(0%,-15%);
  }

  @media screen and (max-width: 480px) {
    .card-info span {
      font-size: 15px;
      gap: 10px;
    }
  
    .card-info p {
      font-size: 7px;
    }
    .card {
      height: 250px;
    }
  }