
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.slick-slide > div {
  margin: 0 10px;
}


::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background: hsl(0, 0%, 96%);
}

::-webkit-scrollbar-thumb{
  background: #378CE7;
  border-radius: 5px ;
}
::-webkit-scrollbar-thumb:hover{
  background:#378CE7;
}